body{
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1rem;
  font-weight: bold;
  padding: 10px  20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-task-button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4d94ff;
}
.add-task-button:hover {
  background-color: #333;
}
.delete-task-button {
  background-color: #ff4d4d;
}
.delete-task-button:hover {
  background-color: #ff1a1a;
}
.move-up-button {
  background-color: #4d94ff;
}
.move-up-button:hover {
  background-color: #1a8cff;
}
.move-down-button {
  background-color: #4dff4d;
}
.move-down-button:hover {
  background-color: #1aff1a;
}
input[type ="text"]{
  font-size: 1.5rem;
  padding: 10px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: #1a8cff;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;  
  background-color: white ;
  margin-bottom: 10px;
  border: 3px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.text{
   flex: 1;
}
.delete-task-button, .move-down-button, .move-up-button{
  padding: 8px 12px;
  margin-left: 10px;
  margin-left: 10px;
}